.Delete__course {
    position: absolute;
    top: 20px;
    right: 24px;
    background-color: white;
    padding: 2px 8px;
    font-weight: 500;
    border-radius: 50%;
}

.Delete__course:hover {
    opacity: 0.7;
}